[data-theme="dark"] {
    color-scheme: dark;

    --radius-selector: 1rem;
    --radius-field: 1rem;
    --radius-box: 1rem;

    --color-base-100: #18181b;
    --color-base-200: #09090b;
    --color-base-300: #3f3f46;
    --color-base-content: #f4f4f5;

    --color-neutral: #2f2f2f;
    --color-neutral-content: #f8fafc;

    --color-primary: #a5b4fc;
    --color-primary-content: #111827;

    --color-success: #22c55e;
    --color-success-content: #052e16;

    --color-info: #0ea5e9;
    --color-info-content: #082f49;

    --color-warning: #f59e0b;
    --color-warning-content: #1f2937;

    --color-error: #f87171;
    --color-error-content: #2a0f0f;
}
